.burger{
  box-sizing: border-box;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 2px solid $text--light;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  //заглушка
  // background-color: #fff;
  svg{
    width: 53%;
    stroke: $text--light;
    fill: $text--light;
  }
  &:hover{
    // border-color: $accent;
    cursor: pointer;
    box-shadow: 0 0 0 2px $text--light; 
    svg{
      // stroke: $accent;
      // fill: $accent;
    }
  }
}
@media (min-width: 751px){
  .burger{
    display: none;
  }
}