.menu{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.menu__item{
  
  font-size: 14px;
  line-height: 14px;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  a{
    color: $text--light;
    text-decoration: none;
  }
  &:not(:last-child){
    margin-right: 10px;
  }
  &:hover{
    
    a{
      font-weight: bold;
    }
    
  }
}
@media(max-width: 750px){
  .menu{
    display: none;
  }
  .menu--open{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color:rgba(1, 1, 1, 0.7);
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    .menu__item{
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
}
@media(min-width: 751px) and (max-width: 1540px){
  .menu{
    
    justify-content: space-between;
    &__item{
      font-size: 20px;
    }
  }
}

@media(min-width: 1541px){
  .menu{
    &__item{
      font-size: 22px;
    }
  }
}