.social{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  h3{
    grid-column: 2 / 8;
    justify-self: center;
    font-size: 38px;
    margin: 0;
    padding: 0;
  }
  ul{
    grid-column: 3 / 7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .social__button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4px solid $text--light;
    svg{
      width: 50%;
      height: 50%;
    }
  }
  .social__button:hover{
    box-shadow: 0 0 0 2px #fff;
  }
  .social__button:active{
    border-color: $accent;
    svg{
      path{
        fill: $accent;
        stroke: $accent;
      }
    }
  } 
}
@media(max-width: 750px){
  .social{
    h3{
      margin-bottom: 40px;
      margin-top: 45px;
    }
    .social__list{
      margin-bottom: 40px;
    }
    .social__button{
      width: 50px;
      height: 50px;
    }
    
  }
}
@media(min-width: 751px) and (max-width: 1540px){
  .social{
    ul{
      grid-column: 2 / 8;
      margin-top: 45px;
      li{
        width: 95px;
      }
    }
    .social__button{
      width: 60px;
      height: 60px;
    }
  }
}
@media(min-width: 1541px){
  .social{
    h3{
      font-size: 20px;
      margin-bottom: 30px;
    }
    .social__list{
      margin-bottom: 30px;
      grid-column: 2 / 8;
    }
    .social__button{
      width: 50px;
      height: 50px;
    }
  }
}