$text--light: #f5f5f5;
$dark: #121111;
$stdtext: #2d2d2d;
// $accent: #5191a7;
$accent: #037693;
$secondary: #f1b451;
$prim: #4ca59a;
$prim--half: rgba(76, 165, 154, 0.712);
$err: #f26250;
$err--half: rgba(242, 98, 80, 0.712);
$warn: #f0a765;
$warn--half: rgba(240, 167, 101, 0.712);
$header-back: rgb(99, 106, 151);
$graybg: #e8e8e8;


@font-face{
  font-family: 'LatoRegular';
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/latoregular.woff2') format('woff2'), url('../fonts/latoregular.woff') format('woff'), url('../fonts/latoregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'LatoMedium';
    src: local('Lato Medium'), local('Lato-Medium'), url('../fonts/latomedium.woff2') format('woff2'), url('../fonts/latomedium.woff') format('woff'), url('../fonts/latomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'LatoLight';
    src: local('Lato Light'), local('Lato-Light'), url('../fonts/latolight.woff2') format('woff2'), url('../fonts/latolight.woff') format('woff'), url('../fonts/latolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'LatoBold';
    src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff'), url('../fonts/latobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'), url('../fonts/latoblack.woff2') format('woff2'), url('../fonts/latoblack.woff') format('woff'), url('../fonts/latoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}