
body{
  padding: 0;
  margin: 0;
}
.common--hidden{
  display: none;
}
.common__title{
  color: $accent;
  font-size: 30px;
  @media(min-width: 1541px){
    font-size: 50px;
  }
  @media(min-width: 751px) and (max-width: 1540px){
    font-size: 44px;
  }
  @media(max-width: 750px){
    font-size: 36px;
  }
  line-height: 30px;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  text-align: center;
  position: relative;
  &::before{
    content: '';
    position: absolute;
  }
}
.common__title--darki{
  color: $text--light;
}
@media (max-width: 750px){

}