
body{
  padding: 0;
  margin: 0;
}
.common--hidden{
  display: none;
}
.common__title{
  color: $accent;
  font-size: 30px;
  justify-self: center;
  @media(min-width: 1541px){
    font-size: 50px;
  }
  @media(min-width: 751px) and (max-width: 1540px){
    font-size: 44px;
  }
  @media(max-width: 750px){
    font-size: 36px;
  }
  line-height: 30px;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  text-align: center;
  position: relative;
}
.common__title::before{
  content: '';
  position: absolute;
  background-image: url('/img/underline-accent.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 12%;
  // width: 120px;
  // height: 20px;
  left: 0px;
  bottom: -65%;
}
.common__title--darki{
  color: $text--light;
  &::before{
    background-image: url('/img/underline-darki.svg');
    background-position-x: 95%;
  }
}

@media (max-width: 750px){

}