

.container{
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 40px;

  @media(max-width: 750px){
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0;
  }
}
