.features{
  background-color: white;
  color: $accent;
  &__list{
    list-style: none;
    display: flex;
    li{
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      p{
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media(max-width: 750px){
  .features{
    h2{
      grid-column: 1 / 7;
      text-align: center;
    }
    &__list{
      grid-column: 2 / 6;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 142px 142px 142px;
      li{
        justify-self: center;
        font-size: 22px;
      }
    }
  }
}

@media(min-width: 751px) and (max-width: 1540px){
  .features{
    h2{
      grid-column: 1 / 13;
      justify-self: center;
    }
    &__list{
      grid-column: 1 / 13;
      padding: 0 48px;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      li{
        font-size: 4.1vw;
      }
    }
    &__icon{
      height: 13vw;
      min-width: 130px;
      img{
        width: auto;
        height: 100%;
      }
    }
  }
}