.footer{
  color: $text--light;
  background-color: $dark;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  font-size: 12px;
  a{
    color: $text--light;
    text-decoration: none;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  h3{
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  svg{
    path{
      stroke: $text--light;
      fill: $text--light;
    }
  }
}
@media(min-width: 1541px){
  .footer{
    max-height: 842px;
    // grid-template-rows: 1fr 1fr 100px;
    grid-template-rows: repeat(7, 1fr);
    &__logo{
      grid-column: 2 / 5;
      grid-row: 1 / 3;
      justify-self: center;
      align-self: center;
      margin-top: 122px;
    }
    &__desc{
      text-align: center;
      grid-column: 2 / 5;
      grid-row: 4 / 6;
      font-size: 20px;
    }
    &__menu{
      grid-row: 3 / 6;
      align-self: start;
    }
    &__menu--links{
      grid-column: 6 / 7;
      justify-self: start;
    }
    &__menu--account{
      grid-column: 8 / 9;
      justify-self: start;
    }
    &__feedback{
      grid-column: 9 / 13;
      justify-content: center;
      grid-row: 3 / 6;
      align-self: start;
    }
    &__social{

    }
    &__subscribe{

    }
    &__copy{
      grid-column: 1 / 13;
      grid-row: 7 / 8;
      justify-self: center;
      font-size: 20px;
      align-self: center;
    }
  }
}
@media(min-width: 751px) and (max-width: 1540px){
  .footer{
   
    &__logo{
      grid-column: 1 / 13;
      justify-self: center;
    }
    &__desc{
      grid-column: 1 / 13;
      justify-self: center;
      text-align: center;
      padding: 0 5%;
      font-size: 30px;
    }
    &__menu--links{
      grid-column: 2 / 6;
      justify-self: center;
    }
    &__menu--account{
      grid-column: 7 / 13;
      justify-self: center;
    }
    &__feedback{
      grid-column: 2 / 12;
    }
    &__social{

    }
    &__subscribe{

    }
    &__copy{
      grid-column: 2 / 12;
      justify-self: center;
      font-size: 30px;
    }
  }
}
@media(max-width: 750px){
  .footer{
    &__menu{
      display: none;
    }
    &__logo{
      grid-column: 1 / 7;
      justify-self: center;
      max-width: 118px;
      img{
        width: 100%;
        height: auto;
      }
    }
    &__desc{
      grid-column: 1 / 7;
      justify-self: center;
      text-align: center;
      font-size: 28px;
      line-height: 38px;
      padding-left: 60px;
      padding-right: 60px;
    }
    &__feedback{
      grid-column: 1 / 7;
    }

    &__subscribe{
      form{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        label{
          grid-column: 1 / 9;
          justify-self: center;
          font-size: 31px;
        }
        div{
          grid-column: 2 / 8;
          position: relative;
          input{
            box-sizing: border-box;
            border: none;
            width: 100%;
            font-size: 30px;
            text-align: center;
            padding: 0;
            &::placeholder{
              font-size: 30px;
              font-family: 'LatoLight', Arial, Helvetica, sans-serif;
            }
          }
          button{
            background: none;
            border: none;
            position: absolute;
            top: 2px;
            right: 0;
            padding: 0;
          }
        }
        
      }
    }
    &__copy{
      grid-column: 1 / 7;
      justify-self: center;
      margin-top: 150px;
      font-size: 27px;
    }
  }
}