.footer{
  color: $text--light;
  background-color: $dark;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  font-size: 12px;
  a{
    color: $text--light;
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  h3{
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  svg{
    path{
      stroke: $text--light;
      fill: $text--light;
    }
  }
}

@media(max-width: 750px){
  .footer{
    &__menu{
      display: none;
    }
    &__logo{
      grid-column: 1 / 7;
      justify-self: center;
      max-width: 118px;
      img{
        width: 100%;
        height: auto;
      }
    }
    &__desc{
      grid-column: 1 / 7;
      justify-self: center;
      text-align: center;
      font-size: 28px;
      line-height: 38px;
      padding-left: 60px;
      padding-right: 60px;
    }
    &__social{
      grid-column: 1 / 7;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      h3{
        grid-column: 2 / 8;
        justify-self: center;
        font-size: 38px;
      }
      ul{
        grid-column: 3 / 7;
        // justify-self: center;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
      }
    }
    &__subscribe{
      grid-column: 1 / 7;
      form{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        label{
          grid-column: 1 / 9;
          justify-self: center;
          font-size: 31px;
        }
        div{
          grid-column: 2 / 8;
          position: relative;
          input{
            box-sizing: border-box;
            border: none;
            width: 100%;
            font-size: 30px;
            text-align: center;
            padding: 0;
            &::placeholder{
              font-size: 30px;
              font-family: 'LatoLight', Arial, Helvetica, sans-serif;
            }
          }
          button{
            background: none;
            border: none;
            position: absolute;
            top: 2px;
            right: 0;
            padding: 0;
          }
        }
        
      }
    }
    &__copy{
      grid-column: 1 / 7;
      justify-self: center;
      margin-top: 150px;
      font-size: 27px;
    }
  }
}