.header{
  background-color: $header-back;
  box-sizing: border-box;
  color: $text--light;

  &__title{
    font-family: 'LatoBlack', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: $text--light;
    margin: 0;
    z-index: 1;
    text-shadow: 0 3px 2px black;
  }
  &__desc{
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    z-index: 1;
  }
  &__buttons{
    z-index: 1;
  }
  &__btn{
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 22px;
    z-index: 1;
    border: 2px solid $text--light; 
    height: 74px;
    &:hover{
      box-shadow: 0 0 0 2px $accent;
    }
    &:first-child{
      width: 270px;
      justify-content: center;
    }
    &:last-child{
      width: 364px;
      padding-left: 10px;
      justify-content: space-between;
      input{
        height: 100%;
        border: none;
        color: $accent;
        text-align: center;
        font: 1em sans-serif;
      }
    }
    a{
      color: inherit;
      text-decoration: none;
    }
  }
}

@media (max-width: 750px){
  .header{
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 453px;
    // max-height: 475px;
    padding-bottom: 20px;
    &__title{
      margin-top: 150px;
      grid-column: 1 / 7;
      justify-self: center;
      font-size: 36px;
      
    }
    &__desc{
      margin-top: 38px;
      grid-column: 1 / 7;
      justify-self: center;
      font-size: 22px;
    }
    &__buttons{
      margin-top: 63px;
      margin-bottom: 67px;
      grid-column: 1 / 7;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      @media(max-width: 590px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }
      .header__btn{
        font-size: 26px;
        height: 56px;
      }
      .header__btn:first-child{
        grid-column: 1 / 6;
        justify-self: end;
        justify-content: center;
        align-items: center;
        width: 210px;
        
        @media(max-width: 590px){
          grid-column: 1 / 2;
          justify-self: center;
        }
      }
      .header__btn:last-child{
        grid-column: 7 / 12;
        justify-self: start;
        width: 290px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        input{
          font-size: 21px;
          max-width: 145px;
          &::placeholder{
            color: $accent;
          }
        }
        @media(max-width: 590px){
          grid-column: 1 / 2;
          justify-self: center;
          margin-top: 20px;
        }
      }
    }
  }
}
@media(min-width: 751px) and (max-width: 1539px){
  .header{
    align-content: start;
    background-image: url('../img/header.jpg');
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 453px;
    &__title{
      grid-column: 1 / 13;
      justify-self: center;
      margin-top: 141px;
    }
    &__desc{
      grid-column: 1 / 13;
      justify-self: center;
      margin-top: 40px;
    }
    &__buttons{
      grid-column: 2 / 12;
      justify-self: center;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-top: 50px;
    }
    .header__btn:first-child{
      grid-column: 1 / 6;
      justify-self: end;
      justify-content: center;
      align-items: center;
    }
    .header__btn:last-child{
      grid-column: 7 / 12;
      justify-self: start;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
    }
  }
}

@media(min-width: 1540px){
  .header{
    background-image: 
      url('../img/iPhone6.png'), 
      url('../img/header.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: 490px auto, cover;
    background-position: 96% 180px, left top;
    min-height: 810px;
    align-content: start;
    &__title{
      grid-column: 2 / 9;
      justify-self: center;
      font-size: 60px;
      line-height: 60px;
      margin-top: 30%;
    }
    &__desc{
      grid-column: 2 / 9;
      justify-self: center;
      font-size: 38px;
      line-height: 38px;
      margin: 0;
      margin-top: 5%; 
    }
    &__buttons{
      margin-top: 15%;
      grid-column: 2 / 9;
      justify-self: center;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
    .header__btn:first-child{
      grid-column: 1 / 6;
      justify-self: end;
      justify-content: center;
      align-items: center;
    }
    .header__btn:last-child{
      grid-column: 7 / 12;
      justify-self: start;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
    }
  }
}