.instruction{
  background-color: white;
  color: $accent;
  &__title{
    grid-column: 1 / 13;
  }
  &__desc{
    font-size: 13px;
    line-height: 15px;
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    text-align: center;
  }
  &__list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__item{
    justify-self: center;
    .instruction__img{
      img{
        max-height: 86px;
      }
      max-width: 162px;
      display: flex;
      justify-content: center;
      padding: 20px;
    }
  }
}

@media(max-width: 750px){
  .instruction{
    &__title{
      grid-column: 1 / 7;
    }
    &__list{
      grid-column: 2 / 6;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    &__item{
      justify-self: center;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:nth-of-type(1), 
      &:nth-of-type(3){
        justify-self: end;
      }
      &:nth-of-type(2), 
      &:nth-of-type(4){
        justify-self: start;
      }
    }
    &__img{
      box-sizing: border-box;
      width: 100px;
      height: 100px;
      border: 1px solid $accent;
      overflow: hidden;
    }
  }
}
@media(min-width: 751px) and (max-width: 1540px){
  .instruction{
    &__list{
      grid-column: 2 / 12;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
@media(min-width: 1541px){
  .instruction{
    &__list{
      grid-column: 2 / 12;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;  
    }
  }
}