.interaction{
  background-color: $accent;
  color: $text--light;
  &__title{
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 30px;
  }
  &__note{
    font-family: 'LatoMedium', Arial, Helvetica, sans-serif;
  }
  &__text{
    font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  }
  &__actions{
    list-style: none;
    li{
      background-color: $secondary;
      a{
        font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: $dark;
        text-decoration: none;
      }
    }
  }
}

@media(max-width: 750px){
  .interaction{
    &__title{
      order: 2;
      grid-column: 1 / 7;
      font-size: 20px;
      text-align: center;
    }
    &__note{
      order: 3;
      grid-column: 1 / 7;
      font-size: 16px;
      text-align: center;
    }
    &__text{
      order: 4;
      grid-column: 2 / 6;
      text-align: center;
    }
    &__actions{
      order: 1;
      grid-column: 2 / 6;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      padding: 0;
    }
  }
}