.partners{
  background: url('/img/partnersback.jpg') no-repeat;
  position: relative;
  &::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(50, 49, 49, 0.8);
    position: absolute;
    top: 0;
    left: 0;
  }
  &__title{
    z-index: 2;
    margin: 0;
  }
  &__slider{
    display: flex;
    z-index: 2;
  }
}

@media(max-width: 750px){
  .partners{
    padding: 40px 0;
    &__title{
      grid-column: 1 / 7;
      text-align: center;
    }
    &__slider{
      margin-top: 60px;
      overflow: hidden;
      grid-column: 2 / 6;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 85px 85px 85px;
      grid-column-gap: 5%;
      grid-row-gap: 10px;
      // grid-gap: 10px;
      grid-template-areas:
        "th th th"
        "th th th"
        " . one  .";
    }
    &__slide{
      justify-self: center;
      align-self: center;
      max-width: 115px;
      &:last-child{
        grid-area: one;
      }
      img{
        width: 100%;
      }
    }
  }
}
@media(min-width: 751px) and (max-width: 1540px){
  .partners{
    padding: 50px 0;
    &__title{
      grid-column: 2 / 12;
      text-align: center;
    }
    &__slider{
      margin-top: 70px;
      grid-column: 3 / 11;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 85px 85px 85px;
      grid-column-gap: 8%;
      grid-row-gap: 10px;
      grid-template-areas:
        "th th th"
        "th th th"
        " . one  .";
    }
    &__slide{
      justify-self: center;
      align-self: center;
      max-width: 124px;
      &:last-child{
        grid-area: one;
      }
      img{
        width: 100%;
      }
    }
  }
}
@media(min-width: 1541px){
  .partners{
    // min-height: 450px;
    grid-template-rows: 100px 240px;
    // padding-bottom: 40px;
    &__title{
      grid-column: 1 / 13;
      grid-row: 1 / 2;
      justify-self: center;
      align-self: center;
    }
    &__slider{
      grid-column: 2 / 12;
      grid-row: 2 / 3;
      align-self: center;
      display: flex;
      justify-content: space-between;
    }
    &__slide{
      box-sizing: border-box;
      display: flex;
      align-items: center;
      max-width: 200px;
      justify-content: center;
      img{
        width: 75%;
      }
    }
  }
}