.top{
  background-color: $dark;
}

@media (max-width: 750px){
  .top{
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  .top__menu{
    display: none;
  }
  .top__user{
    display: none;
  }
  .top__logo{
    grid-column: 3 / 5;
    justify-self: center;
    height: 130px;
    img{
      height: 130px;
      width: 112px;
    }
  }
  .top__burger{
      grid-column: 6 / 7;
      justify-self: center;
      align-self: center;
  }
}

@media(min-width: 751px) and (max-width: 1540px){
  .top{
    display: flex;
    justify-content: center;
    min-height: 130px;
    &__logo{
      display: none;
    }
    &__menu{
      grid-column: 4 / 10;
      height: 100%;
      align-items: center;
      justify-content: space-around;
    }
    &__user{
      grid-column: 10 / 12;
      height: 100%;
      align-items: center;
      justify-content: space-around;
    }
  }
}