.top{
  background-color: $dark;
}

@media (max-width: 750px){
  .top{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: relative;
  }
  .top__menu{
    
  }
  .top__user{
    display: none;
  }
  .top__logo{
    box-sizing: border-box;
    grid-column: 3 / 5;
    justify-self: center;
    height: 170px;
    padding: 20px 0;
    img{
      height: 100%;
    }
  }
  .top__burger{
      grid-column: 6 / 7;
      justify-self: center;
      align-self: center;
  }
}

@media(min-width: 751px) and (max-width: 1540px){
  .top{
    display: flex;
    justify-content: center;
    min-height: 130px;
    &__logo{
      display: none;
    }
    &__menu{
      grid-column: 4 / 10;
      height: 100%;
      align-items: center;
      justify-content: space-around;
    }
    &__user{
      grid-column: 10 / 12;
      height: 100%;
      align-items: center;
      justify-content: space-around;
    }
  }
}
@media(min-width: 1541px){
  .top{
    min-height: 150px;
    &__logo{
      grid-column: 2 / 4;
      justify-self: start;
      height: 100%;
      display: flex;
      align-items: center;
      img{
        height: 80%;
        width: auto;
      }
    }
    &__menu{
      grid-column: 4 / 10;
      height: 100%;
      align-items: center;
      justify-content: space-around;
    }
    &__user{
      grid-column: 10 / 12;
      height: 100%;
      align-items: center;
      justify-content: space-around;
    }
  }
}
