.user{
  display: flex;
  svg{
    fill: $text--light;
    stroke: $text--light;
  }
  &__link{
    color: $text--light;
    text-decoration: none;
    font-size: 'LatoLight', Arial, Helvetica, sans-serif;
  }
  &__login{
    color: white;
  }
  &__register{
    color: white;
  }
}

