@font-face {
  font-family: 'LatoRegular';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'LatoMedium';
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/latomedium.woff2") format("woff2"), url("../fonts/latomedium.woff") format("woff"), url("../fonts/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'LatoLight';
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/latolight.woff2") format("woff2"), url("../fonts/latolight.woff") format("woff"), url("../fonts/latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'LatoBold';
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff"), url("../fonts/latoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr); }
  @media (max-width: 750px) {
    .container {
      grid-template-columns: repeat(6, 1fr); } }

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%; }

.menu__item {
  font-size: 14px;
  line-height: 14px;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif; }
  .menu__item a {
    color: #f5f5f5;
    text-decoration: none; }

@media (min-width: 751px) and (max-width: 1540px) {
  .menu {
    display: flex;
    justify-content: space-between; } }

.user {
  display: flex; }
  .user__link {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 'LatoLight', Arial, Helvetica, sans-serif; }
  .user__login {
    color: white; }
  .user__register {
    color: white; }

.top {
  background-color: #121111; }

@media (max-width: 750px) {
  .top {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 10px 0; }
  .top__menu {
    display: none; }
  .top__user {
    display: none; }
  .top__logo {
    height: 130px; }
    .top__logo img {
      height: 130px;
      width: 112px; }
  .top__burger {
    position: absolute;
    right: 10px;
    top: 20%; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .top {
    display: flex;
    justify-content: center;
    min-height: 130px; }
    .top__logo {
      display: none; } }

.header {
  background-color: #636a97;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .header__title {
    font-family: 'LatoBlack', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #f5f5f5;
    margin: 0; }
  .header__desc {
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px; }
  .header__buttons {
    display: flex; }
  .header__btn {
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px; }
    .header__btn a {
      color: inherit;
      text-decoration: none; }

@media (max-width: 750px) {
  .header {
    min-height: 454px; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .header {
    min-height: 810px; } }

.instruction {
  background-color: white;
  color: #5191a7; }
  .instruction__title {
    grid-column: 1 / 13; }
  .instruction__desc {
    font-size: 13px;
    line-height: 15px;
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    text-align: center; }
  .instruction__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0; }
  .instruction__item {
    justify-self: center; }
    .instruction__item .instruction__img {
      max-width: 162px;
      display: flex;
      justify-content: center;
      padding: 20px; }
      .instruction__item .instruction__img img {
        max-height: 86px; }

@media (max-width: 750px) {
  .instruction__title {
    grid-column: 1 / 7; }
  .instruction__list {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .instruction__item {
    justify-self: center;
    min-width: 234px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .instruction__item:nth-of-type(1), .instruction__item:nth-of-type(3) {
      justify-self: end; }
    .instruction__item:nth-of-type(2), .instruction__item:nth-of-type(4) {
      justify-self: start; }
  .instruction__img {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid #5191a7;
    overflow: hidden; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .instruction__list {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media (min-width: 1541px) {
  .instruction__list {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

.interaction {
  background-color: #5191a7;
  color: #f5f5f5; }
  .interaction__title {
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 30px; }
  .interaction__note {
    font-family: 'LatoMedium', Arial, Helvetica, sans-serif; }
  .interaction__text {
    font-family: 'LatoLight', Arial, Helvetica, sans-serif; }
  .interaction__actions {
    list-style: none; }
    .interaction__actions li {
      background-color: #f1b451; }
      .interaction__actions li a {
        font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #121111;
        text-decoration: none; }

@media (max-width: 750px) {
  .interaction__title {
    order: 2;
    grid-column: 1 / 7;
    font-size: 20px;
    text-align: center; }
  .interaction__note {
    order: 3;
    grid-column: 1 / 7;
    font-size: 16px;
    text-align: center; }
  .interaction__text {
    order: 4;
    grid-column: 2 / 6;
    text-align: center; }
  .interaction__actions {
    order: 1;
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0; } }

.features {
  background-color: white;
  color: #5191a7; }
  .features__list {
    list-style: none;
    display: flex; }

@media (max-width: 750px) {
  .features h2 {
    grid-column: 1 / 7;
    text-align: center; }
  .features__list {
    grid-column: 2 / 6;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 142px 142px 142px; }
    .features__list li {
      justify-self: center; } }

.partners {
  background-image: url("/img/partnersback.jpg");
  background-position: center; }
  .partners__slider {
    display: flex; }

.events {
  background-color: #e8e8e8; }
  .events__list {
    list-style: none; }
  .events__title {
    color: #f5f5f5;
    text-transform: uppercase;
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif; }
    .events__title span {
      font-family: 'LatoBold', Arial, Helvetica, sans-serif; }
  .events__desc {
    font-family: 'LatoLight', Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: 12px; }
  .events__button {
    color: #f5f5f5;
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px; }
  .events__card:nth-of-type(1) .events__title {
    background: url("/img/pic1.png") center; }
  .events__card:nth-of-type(1) .events__button {
    background-color: #5191a7;
    text-decoration: none; }
  .events__card:nth-of-type(2) .events__title {
    background: url("/img/pic2.png") center; }
  .events__card:nth-of-type(2) .events__button {
    background-color: #f26250; }
  .events__card:nth-of-type(3) .events__title {
    background: url("/img/pic3.png") center; }
  .events__card:nth-of-type(3) .events__button {
    background-color: #f0a765; }

.about {
  color: #5191a7; }
  .about h4 {
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal; }
    .about h4 span {
      font-weight: normal;
      font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 15px; }
  .about p {
    font-family: 'LatoLight', Arial, Helvetica, sans-serif;
    color: #2d2d2d;
    font-size: 12px;
    line-height: 16px; }
  .about__stats li {
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif; }
    .about__stats li span {
      font-size: 20px; }
  .about__stats li:nth-of-type(1) {
    color: #5191a7; }
  .about__stats li:nth-of-type(2) {
    color: #f26250; }
  .about__stats li:nth-of-type(3) {
    color: #f0a765; }

.footer {
  color: #f5f5f5;
  background-color: #121111;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  font-size: 12px; }
  .footer a {
    color: #f5f5f5;
    text-decoration: none; }
  .footer ul {
    list-style: none; }
  .footer h3 {
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 14px; }

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr); }
  @media (max-width: 750px) {
    .container {
      grid-template-columns: repeat(6, 1fr); } }

.burger {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fff; }

@media (min-width: 751px) {
  .burger {
    display: none; } }

body {
  padding: 0;
  margin: 0; }

.common__title {
  color: #5191a7;
  font-size: 30px;
  line-height: 30px;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  text-align: center; }

.common__title--darki {
  color: #f5f5f5; }
