@font-face {
  font-family: 'LatoRegular';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'LatoMedium';
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/latomedium.woff2") format("woff2"), url("../fonts/latomedium.woff") format("woff"), url("../fonts/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'LatoLight';
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/latolight.woff2") format("woff2"), url("../fonts/latolight.woff") format("woff"), url("../fonts/latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'LatoBold';
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff"), url("../fonts/latoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box; }
  @media (max-width: 750px) {
    .container {
      grid-template-columns: repeat(6, 1fr); } }

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.menu__item {
  font-size: 14px;
  line-height: 14px;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif; }
  .menu__item a {
    color: #f5f5f5;
    text-decoration: none; }
  .menu__item:not(:last-child) {
    margin-right: 10px; }

@media (min-width: 751px) and (max-width: 1540px) {
  .menu {
    justify-content: space-between; }
    .menu__item {
      font-size: 16px; } }

@media (min-width: 1541px) {
  .menu__item {
    font-size: 22px; } }

.user {
  display: flex; }
  .user svg {
    fill: #f5f5f5;
    stroke: #f5f5f5; }
  .user__link {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 'LatoLight', Arial, Helvetica, sans-serif; }
  .user__login {
    color: white; }
  .user__register {
    color: white; }
  .user__icon {
    text-align: center; }

.top {
  background-color: #121111; }

@media (max-width: 750px) {
  .top {
    display: flex;
    justify-content: center;
    padding: 10px 0; }
  .top__menu {
    display: none; }
  .top__user {
    display: none; }
  .top__logo {
    box-sizing: border-box;
    grid-column: 3 / 5;
    justify-self: center;
    height: 170px;
    padding: 20px 0; }
    .top__logo img {
      height: 100%; }
  .top__burger {
    grid-column: 6 / 7;
    justify-self: center;
    align-self: center; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .top {
    display: flex;
    justify-content: center;
    min-height: 130px; }
    .top__logo {
      display: none; }
    .top__menu {
      grid-column: 4 / 10;
      height: 100%;
      align-items: center;
      justify-content: space-around; }
    .top__user {
      grid-column: 10 / 12;
      height: 100%;
      align-items: center;
      justify-content: space-around; } }

@media (min-width: 1541px) {
  .top {
    min-height: 150px; }
    .top__logo {
      grid-column: 2 / 4;
      justify-self: start;
      height: 100%;
      display: flex;
      align-items: center; }
      .top__logo img {
        height: 80%;
        width: auto; }
    .top__menu {
      grid-column: 4 / 10;
      height: 100%;
      align-items: center;
      justify-content: space-around; }
    .top__user {
      grid-column: 10 / 12;
      height: 100%;
      align-items: center;
      justify-content: space-around; } }

.header {
  background-color: #636a97;
  box-sizing: border-box;
  color: #f5f5f5; }
  .header__title {
    font-family: 'LatoBlack', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #f5f5f5;
    margin: 0;
    z-index: 1; }
  .header__desc {
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px;
    z-index: 1; }
  .header__buttons {
    z-index: 1; }
  .header__btn {
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 22px;
    z-index: 1;
    border: 2px solid #f5f5f5;
    height: 74px; }
    .header__btn:first-child {
      width: 270px;
      justify-content: center; }
    .header__btn:last-child {
      width: 364px;
      padding-left: 10px;
      justify-content: space-between; }
      .header__btn:last-child input {
        height: 100%;
        border: none;
        color: #037693;
        text-align: center;
        font: 1em sans-serif; }
    .header__btn a {
      color: inherit;
      text-decoration: none; }

@media (max-width: 750px) {
  .header {
    background-image: url("/img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 453px;
    padding-bottom: 20px; }
    .header__title {
      margin-top: 150px;
      grid-column: 1 / 7;
      justify-self: center; }
    .header__desc {
      margin-top: 38px;
      grid-column: 1 / 7;
      justify-self: center; }
    .header__buttons {
      margin-top: 63px;
      margin-bottom: 67px;
      grid-column: 1 / 7;
      display: grid;
      grid-template-columns: repeat(12, 1fr); } }
    @media (max-width: 750px) and (max-width: 590px) {
      .header__buttons {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr; } }

@media (max-width: 750px) {
      .header__buttons .header__btn {
        font-size: 26px;
        height: 56px; }
      .header__buttons .header__btn:first-child {
        grid-column: 1 / 6;
        justify-self: end;
        justify-content: center;
        align-items: center;
        width: 210px; } }
      @media (max-width: 750px) and (max-width: 590px) {
        .header__buttons .header__btn:first-child {
          grid-column: 1 / 2;
          justify-self: center; } }

@media (max-width: 750px) {
      .header__buttons .header__btn:last-child {
        grid-column: 7 / 12;
        justify-self: start;
        width: 290px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px; }
        .header__buttons .header__btn:last-child input {
          font-size: 21px;
          max-width: 145px; }
          .header__buttons .header__btn:last-child input::-webkit-input-placeholder {
            color: #037693; }
          .header__buttons .header__btn:last-child input:-ms-input-placeholder {
            color: #037693; }
          .header__buttons .header__btn:last-child input::-ms-input-placeholder {
            color: #037693; }
          .header__buttons .header__btn:last-child input::placeholder {
            color: #037693; } }
      @media (max-width: 750px) and (max-width: 590px) {
        .header__buttons .header__btn:last-child {
          grid-column: 1 / 2;
          justify-self: center;
          margin-top: 20px; } }

@media (min-width: 751px) and (max-width: 1539px) {
  .header {
    align-content: start;
    background-image: url("/img/header.jpg");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 453px; }
    .header__title {
      grid-column: 1 / 13;
      justify-self: center;
      margin-top: 141px; }
    .header__desc {
      grid-column: 1 / 13;
      justify-self: center;
      margin-top: 40px; }
    .header__buttons {
      grid-column: 2 / 12;
      justify-self: center;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      margin-top: 50px; }
    .header .header__btn:first-child {
      grid-column: 1 / 6;
      justify-self: end;
      justify-content: center;
      align-items: center; }
    .header .header__btn:last-child {
      grid-column: 7 / 12;
      justify-self: start;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px; } }

@media (min-width: 1540px) {
  .header {
    background-image: url("/img/iPhone6.png"), url("/img/header.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 490px auto, cover;
    background-position: 92% 180px, left top;
    min-height: 810px;
    align-content: start; }
    .header__title {
      grid-column: 2 / 9;
      justify-self: center;
      font-size: 60px;
      line-height: 60px;
      margin-top: 20%; }
    .header__desc {
      grid-column: 2 / 9;
      justify-self: center;
      font-size: 38px;
      line-height: 38px;
      margin: 0;
      margin-top: 5%; }
    .header__buttons {
      margin-top: 5%;
      grid-column: 2 / 9;
      justify-self: center;
      display: grid;
      grid-template-columns: repeat(12, 1fr); }
    .header .header__btn:first-child {
      grid-column: 1 / 6;
      justify-self: end;
      justify-content: center;
      align-items: center; }
    .header .header__btn:last-child {
      grid-column: 7 / 12;
      justify-self: start;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px; } }

.instruction {
  background-color: white;
  color: #037693; }
  .instruction__title {
    grid-column: 1 / 13;
    margin: 0; }
  .instruction__desc {
    font-size: 13px;
    line-height: 15px;
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    text-align: center; }
  .instruction__list {
    list-style: none;
    display: grid;
    margin: 0;
    padding: 0; }
  .instruction__item {
    justify-self: center; }
    .instruction__item .instruction__img {
      max-width: 162px;
      display: flex;
      justify-content: center;
      padding: 20px; }
      .instruction__item .instruction__img img {
        max-height: 86px; }

@media (max-width: 750px) {
  .instruction {
    padding-top: 40px;
    padding-bottom: 40px; }
    .instruction__title {
      grid-column: 1 / 7;
      margin-bottom: 40px; }
    .instruction__list {
      grid-column: 2 / 6;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 20px; } }
    @media (max-width: 750px) and (max-width: 590px) {
      .instruction__list {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
        grid-row-gap: 10px; } }

@media (max-width: 750px) {
    .instruction__item {
      justify-self: center;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center; } }
    @media (max-width: 750px) and (max-width: 590px) {
      .instruction__item {
        justify-self: center; } }

@media (max-width: 750px) {
      .instruction__item:nth-of-type(1), .instruction__item:nth-of-type(3) {
        justify-self: end; }
      .instruction__item:nth-of-type(2), .instruction__item:nth-of-type(4) {
        justify-self: start; }
    .instruction__img {
      box-sizing: border-box;
      width: 100px;
      height: 100px;
      border: 1px solid #037693;
      overflow: hidden; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .instruction {
    padding: 40px 0; }
    .instruction__title {
      margin-bottom: 40px; }
    .instruction__list {
      grid-column: 2 / 12;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media (min-width: 1541px) {
  .instruction {
    padding: 50px 0; }
    .instruction__list {
      margin-top: 50px;
      grid-column: 2 / 12;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

.interaction {
  background-color: #037693;
  color: #f5f5f5; }
  .interaction__title {
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0; }
  .interaction__note {
    font-family: 'LatoMedium', Arial, Helvetica, sans-serif; }
  .interaction__text {
    font-family: 'LatoLight', Arial, Helvetica, sans-serif; }

@media (max-width: 750px) {
  .interaction {
    padding: 40px 0; }
    .interaction__title {
      order: 2;
      grid-column: 1 / 7;
      font-size: 20px;
      justify-self: center; }
    .interaction__note {
      order: 3;
      grid-column: 1 / 7;
      font-size: 16px;
      text-align: center;
      margin-top: 10px; }
    .interaction__text {
      order: 4;
      grid-column: 2 / 6;
      text-align: center; }
    .interaction__actions {
      order: 1;
      grid-column: 2 / 6;
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 40px;
      margin: 0;
      margin-bottom: 30px; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .interaction {
    min-height: 872px;
    grid-template-rows: 210px 94px 1fr 127px; }
    .interaction__title {
      grid-column: 2 / 9;
      grid-row: 1 / 2;
      justify-self: center;
      align-self: end;
      text-align: center;
      font-size: 34px;
      line-height: 36px; }
    .interaction__note {
      grid-column: 2 / 9;
      grid-row: 2 / 3;
      align-self: start;
      justify-self: center;
      align-self: center;
      font-size: 38px;
      line-height: 38px; }
    .interaction__text {
      grid-column: 2 / 9;
      grid-row: 3 / 4;
      justify-self: center;
      text-align: center;
      align-self: center;
      font-size: 22px;
      line-height: 26px; }
    .interaction__actions {
      grid-column: 10 / 13;
      grid-row: 1 / 5;
      justify-self: center;
      align-self: center; } }

@media (min-width: 1541px) {
  .interaction {
    min-height: 872px;
    max-height: 990px;
    grid-template-rows: 1fr 1fr 135px minmax(300px, 335px) 63px; }
    .interaction__title {
      grid-column: 3 / 6;
      grid-row: 1 / 3;
      font-size: 64px;
      max-width: 480px; }
    .interaction__note {
      grid-column: 3 / 6;
      font-size: 36px; }
    .interaction__text {
      grid-column: 3 / 8;
      font-size: 20px;
      line-height: 22px; }
    .interaction__actions {
      grid-column: 8 / 11;
      grid-row: 1 / 6; } }

.actions {
  list-style: none;
  padding: 0;
  display: flex; }
  .actions__item {
    box-sizing: border-box;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .actions__item img {
      z-index: 2;
      width: 40%;
      height: auto; }
    .actions__item a {
      font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
      color: #121111;
      text-decoration: none;
      z-index: 2; }
  .actions__item::before {
    content: '';
    position: absolute;
    z-index: 1;
    background-color: #f1b451;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 70%;
    height: 70%; }

@media (max-width: 750px) {
  .actions__item {
    box-sizing: border-box;
    height: 108px;
    width: 108px;
    padding-top: 16px; }
    .actions__item img {
      width: 30%;
      height: auto; }
    .actions__item a {
      margin-top: 3px;
      text-align: center;
      font-size: 10px; }
    .actions__item::before {
      top: 15px; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .actions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .actions__item {
      height: 15.5vw;
      width: 15.5vw;
      padding-top: 40px; }
      .actions__item img {
        width: 33%;
        height: auto; }
      .actions__item a {
        margin-top: 8px;
        text-align: center;
        font-size: 18px;
        max-width: 143px; }
      .actions__item::before {
        top: 35px; } }

@media (min-width: 1541px) {
  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    .actions__item {
      height: 360px;
      width: 360px;
      padding-top: 50px;
      margin-bottom: 20px; }
      .actions__item img {
        width: 30%;
        height: auto; }
      .actions__item a {
        margin-top: 8px;
        text-align: center;
        font-size: 18px; }
      .actions__item:nth-of-type(2) {
        position: absolute;
        left: 40%; } }

.features {
  background-color: white;
  color: #037693;
  font-family: 'LatoBold', Arial, Helvetica, sans-serif; }
  .features__title {
    margin: 0; }
  .features__list {
    list-style: none;
    display: flex; }
    .features__list li {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .features__list li p {
        padding: 0;
        margin: 0; }

@media (max-width: 750px) {
  .features {
    padding: 40px 0; }
    .features h2 {
      grid-column: 1 / 7;
      text-align: center;
      margin-bottom: 40px; }
    .features__list {
      grid-column: 2 / 6;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-row-gap: 20px; }
      .features__list li {
        justify-self: center;
        font-size: 22px; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .features {
    padding-top: 100px;
    padding-bottom: 100px; }
    .features h2 {
      grid-column: 1 / 13;
      justify-self: center;
      font-size: 44px;
      margin: 0;
      margin-bottom: 30px; }
    .features__list {
      grid-column: 2 / 12;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-row-gap: 10px; }
      .features__list li {
        font-size: 3.8vw; }
    .features__icon {
      height: 13vw;
      min-width: 130px; }
      .features__icon img {
        width: auto;
        height: 100%; } }

@media (min-width: 1540px) {
  .features {
    padding-top: 100px;
    padding-bottom: 130px; }
    .features__title {
      grid-column: 1 / 13;
      justify-self: center;
      margin-bottom: 40px; }
    .features__list {
      grid-column: 3 / 11;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 10px; }
    .features__icon {
      height: 7vw; }
      .features__icon img {
        width: auto;
        height: 100%; }
    .features__text {
      font-size: 1.7vw; } }

.partners {
  background: url("/img/partnersback.jpg") no-repeat;
  position: relative; }
  .partners::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(50, 49, 49, 0.8);
    position: absolute;
    top: 0;
    left: 0; }
  .partners__title {
    z-index: 2;
    margin: 0; }
  .partners__slider {
    display: flex;
    z-index: 2; }

@media (max-width: 750px) {
  .partners {
    padding: 40px 0; }
    .partners__title {
      grid-column: 1 / 7;
      text-align: center; }
    .partners__slider {
      margin-top: 60px;
      overflow: hidden;
      grid-column: 2 / 6;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 85px 85px 85px;
      grid-column-gap: 5%;
      grid-row-gap: 10px;
      grid-template-areas: "th th th" "th th th" " . one  ."; }
    .partners__slide {
      justify-self: center;
      align-self: center;
      max-width: 115px; }
      .partners__slide:last-child {
        grid-area: one; }
      .partners__slide img {
        width: 100%; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .partners {
    padding: 50px 0; }
    .partners__title {
      grid-column: 2 / 12;
      text-align: center; }
    .partners__slider {
      margin-top: 70px;
      grid-column: 3 / 11;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 85px 85px 85px;
      grid-column-gap: 8%;
      grid-row-gap: 10px;
      grid-template-areas: "th th th" "th th th" " . one  ."; }
    .partners__slide {
      justify-self: center;
      align-self: center;
      max-width: 124px; }
      .partners__slide:last-child {
        grid-area: one; }
      .partners__slide img {
        width: 100%; } }

@media (min-width: 1541px) {
  .partners {
    grid-template-rows: 100px 240px; }
    .partners__title {
      grid-column: 1 / 13;
      grid-row: 1 / 2;
      justify-self: center;
      align-self: center; }
    .partners__slider {
      grid-column: 2 / 12;
      grid-row: 2 / 3;
      align-self: center;
      display: flex;
      justify-content: space-between; }
    .partners__slide {
      display: flex;
      align-items: center; } }

.events {
  background-color: #e8e8e8; }
  .events h2 {
    margin: 0; }
  .events__list {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  .events__title {
    margin: 0;
    color: #f5f5f5;
    text-transform: uppercase;
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif; }
    .events__title span {
      font-family: 'LatoBold', Arial, Helvetica, sans-serif; }
  .events__desc {
    font-family: 'LatoLight', Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: 12px;
    margin: 0; }
  .events__button {
    color: #f5f5f5;
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center; }

@media (max-width: 750px) {
  .events h2 {
    grid-column: 1 / 7;
    text-align: center;
    display: none; }
  .events__list {
    grid-column: 1 / 7; }
  .events__card {
    min-height: 418px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    position: relative; }
    .events__card .events__title {
      grid-column: 2 / 12;
      text-align: center;
      z-index: 1; }
    .events__card .events__icon {
      grid-column: 2 / 4;
      z-index: 1;
      max-width: 78px;
      background-size: 100%; }
    .events__card .events__desc {
      text-align: center;
      grid-column: 4 / 12;
      z-index: 1;
      margin: 0;
      font-size: 28px;
      line-height: 32px;
      color: #f5f5f5; }
    .events__card .events__button {
      grid-column: 2 / 12;
      justify-self: center;
      z-index: 1;
      font-size: 28px;
      text-decoration: none;
      background-color: #f5f5f5;
      width: 165px;
      border-radius: 25%;
      height: 44px; }
    .events__card::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0; }
    .events__card:nth-of-type(1) {
      background-image: url("/img/pic1.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .events__card:nth-of-type(1)::before {
        background-color: rgba(242, 98, 80, 0.712); }
      .events__card:nth-of-type(1) .events__icon {
        background-image: url("/img/interactivity.png");
        background-repeat: no-repeat; }
      .events__card:nth-of-type(1) .events__button {
        color: #f26250; }
    .events__card:nth-of-type(2) {
      background-image: url("/img/pic2.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .events__card:nth-of-type(2)::before {
        background-color: rgba(240, 167, 101, 0.712); }
      .events__card:nth-of-type(2) .events__icon {
        background-image: url("/img/hard-disk.png");
        background-repeat: no-repeat; }
      .events__card:nth-of-type(2) .events__button {
        color: #f0a765; }
    .events__card:nth-of-type(3) {
      background-image: url("/img/pic3.png");
      background-size: cover;
      background-repeat: no-repeat; }
      .events__card:nth-of-type(3)::before {
        background-color: rgba(76, 165, 154, 0.712); }
      .events__card:nth-of-type(3) .events__icon {
        background-image: url("/img/usb-connection.png");
        background-repeat: no-repeat; }
      .events__card:nth-of-type(3) .events__button {
        color: #4ca59a; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .events h2 {
    grid-column: 1 / 13;
    text-align: center; }
  .events__list {
    grid-column: 1 / 13;
    justify-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .events__card {
    outline: 1px solid #4ca59a; }
    .events__card .events__title {
      font-size: 2.2vw;
      line-height: 2.6vw;
      text-align: center;
      padding: 0 30%; }
      .events__card .events__title span {
        font-weight: bold; }
    .events__card .events__desc {
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      padding: 0 4%; }
    .events__card:nth-of-type(1) {
      width: 30%;
      min-height: 510px; }
      .events__card:nth-of-type(1) .events__title {
        background-color: #4ca59a; }
      .events__card:nth-of-type(1) .events__button {
        background-color: #4ca59a; }
    .events__card:nth-of-type(2) {
      width: 34%;
      min-height: 576px; }
      .events__card:nth-of-type(2) .events__title {
        background-color: #f26250; }
      .events__card:nth-of-type(2) .events__button {
        background-color: #f26250; }
    .events__card:nth-of-type(3) {
      width: 30%;
      min-height: 510px; }
      .events__card:nth-of-type(3) .events__title {
        background-color: #f0a765; }
      .events__card:nth-of-type(3) .events__button {
        background-color: #f0a765; } }

@media (min-width: 1541px) {
  .events {
    padding-bottom: 65px; }
    .events h2 {
      grid-column: 1 / 13;
      justify-self: center;
      margin-top: 80px;
      margin-bottom: 60px; }
    .events__list {
      grid-column: 1 / 13;
      display: flex;
      justify-content: center;
      align-items: center; }
    .events__card {
      outline: 1px solid #4ca59a; }
      .events__card .events__title {
        font-size: 2.2vw;
        line-height: 2.6vw;
        text-align: center;
        padding: 0 20%; }
        .events__card .events__title span {
          font-weight: bold; }
      .events__card .events__desc {
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        padding: 0 6%; }
      .events__card:nth-of-type(1) {
        width: 30%;
        min-height: 510px; }
        .events__card:nth-of-type(1) .events__title {
          background-color: #4ca59a; }
        .events__card:nth-of-type(1) .events__button {
          background-color: #4ca59a; }
      .events__card:nth-of-type(2) {
        width: 34%;
        min-height: 576px; }
        .events__card:nth-of-type(2) .events__title {
          background-color: #f26250; }
        .events__card:nth-of-type(2) .events__button {
          background-color: #f26250; }
      .events__card:nth-of-type(3) {
        width: 30%;
        min-height: 510px; }
        .events__card:nth-of-type(3) .events__title {
          background-color: #f0a765; }
        .events__card:nth-of-type(3) .events__button {
          background-color: #f0a765; } }

.about {
  color: #037693;
  box-sizing: border-box; }
  .about h2 {
    margin: 0; }
  .about h4 {
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    margin: 0; }
  .about b {
    font-weight: normal;
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 15px; }
  .about p {
    font-family: 'LatoLight', Arial, Helvetica, sans-serif;
    color: #2d2d2d;
    font-size: 12px;
    line-height: 16px; }
  .about__stats {
    padding: 0;
    margin: 0;
    list-style: none; }
    .about__stats li {
      font-family: 'LatoRegular', Arial, Helvetica, sans-serif; }
      .about__stats li span {
        font-size: 20px; }
    .about__stats li:nth-of-type(1) {
      color: #037693; }
    .about__stats li:nth-of-type(2) {
      color: #f26250; }
    .about__stats li:nth-of-type(3) {
      color: #f0a765; }

@media (min-width: 1541px) {
  .about {
    grid-template-rows: 2fr 3fr; }
    .about h2 {
      grid-column: 2 / 12;
      justify-self: center;
      align-self: center;
      font-size: 55px; }
    .about__content {
      grid-column: 3 / 8;
      align-self: start; }
      .about__content h4 {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 20px; }
      .about__content b {
        font-size: 20px; }
      .about__content p {
        margin-top: 45px; }
    .about__stats {
      height: 320px;
      align-content: start;
      grid-column: 8 / 12;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 25px; }
      .about__stats li {
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .about__stats li span {
          font-size: 50px; }
        .about__stats li p {
          text-align: center;
          font-size: 25px; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .about h2 {
    grid-column: 2 / 12;
    justify-self: center;
    order: 1; }
  .about__content {
    grid-column: 2 / 12;
    justify-self: center;
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about__content p {
      font-size: 18px;
      line-height: 22px;
      text-align: center; }
  .about__stats {
    order: 2;
    grid-column: 2 / 12;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px; }
    .about__stats li {
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .about__stats li span {
        font-size: 50px; }
      .about__stats li p {
        text-align: center;
        font-size: 25px; } }

@media (max-width: 750px) {
  .about h2 {
    grid-column: 1 / 7;
    justify-self: center;
    order: 1; }
  .about__content {
    grid-column: 1 / 7;
    justify-self: center;
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about__content b {
      font-size: 22px; }
    .about__content p {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      padding: 0 30px; }
  .about__stats {
    order: 2;
    padding: 0;
    margin: 0;
    grid-column: 1 / 7;
    justify-self: center;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px; }
    .about__stats li {
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .about__stats li span {
        font-size: 50px; }
      .about__stats li p {
        text-align: center;
        font-size: 25px; } }

.footer {
  color: #f5f5f5;
  background-color: #121111;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  font-size: 12px; }
  .footer a {
    color: #f5f5f5;
    text-decoration: none; }
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .footer h3 {
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0; }
  .footer svg path {
    stroke: #f5f5f5;
    fill: #f5f5f5; }

@media (min-width: 1541px) {
  .footer {
    max-height: 842px;
    grid-template-rows: repeat(7, 1fr); }
    .footer__logo {
      grid-column: 2 / 5;
      grid-row: 1 / 3;
      justify-self: center;
      align-self: center;
      margin-top: 122px; }
    .footer__desc {
      text-align: center;
      grid-column: 2 / 5;
      grid-row: 4 / 6;
      font-size: 20px; }
    .footer__menu {
      grid-row: 3 / 6;
      align-self: start;
      font-size: 15px; }
      .footer__menu h3 {
        font-size: 20px; }
    .footer__menu--links {
      grid-column: 6 / 7;
      justify-self: start; }
    .footer__menu--account {
      grid-column: 8 / 9;
      justify-self: start; }
    .footer__feedback {
      grid-column: 9 / 13;
      justify-content: center;
      grid-row: 3 / 6;
      align-self: start; }
    .footer__copy {
      grid-column: 1 / 13;
      grid-row: 7 / 8;
      justify-self: center;
      font-size: 20px;
      align-self: center; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .footer__logo {
    grid-column: 1 / 13;
    justify-self: center;
    margin-top: 150px; }
  .footer__desc {
    grid-column: 2 / 12;
    justify-self: center;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 80px;
    margin-bottom: 150px;
    font-size: 44px; }
  .footer__menu {
    font-size: 20px; }
    .footer__menu h3 {
      font-size: 24px;
      margin-bottom: 15px; }
  .footer__menu--links {
    grid-column: 2 / 6;
    justify-self: start; }
  .footer__menu--account {
    grid-column: 9 / 13;
    justify-self: start; }
  .footer__feedback {
    grid-column: 2 / 12;
    margin-top: 75px; }
  .footer__subscribe {
    margin-top: 140px; }
  .footer__copy {
    grid-column: 2 / 12;
    justify-self: center;
    font-size: 30px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; } }

@media (max-width: 750px) {
  .footer__menu {
    display: none; }
  .footer__logo {
    grid-column: 1 / 7;
    justify-self: center;
    max-width: 240px; }
    .footer__logo img {
      width: 100%; }
  .footer__desc {
    grid-column: 1 / 7;
    justify-self: center;
    text-align: center;
    font-size: 28px;
    line-height: 38px;
    padding-left: 60px;
    padding-right: 60px; }
  .footer__feedback {
    grid-column: 1 / 7; }
  .footer__copy {
    grid-column: 1 / 7;
    justify-self: center;
    margin-top: 150px;
    margin-bottom: 35px;
    font-size: 27px; } }

.social {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  font-family: 'LatoLight', Arial, Helvetica, sans-serif; }
  .social h3 {
    grid-column: 2 / 8;
    justify-self: center;
    font-size: 38px;
    margin: 0;
    padding: 0; }
  .social ul {
    grid-column: 3 / 7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between; }

@media (min-width: 751px) and (max-width: 1540px) {
  .social ul {
    grid-column: 2 / 8;
    margin-top: 115px; }
    .social ul li {
      width: 95px; }
  .social svg {
    width: 100%;
    height: auto; } }

@media (min-width: 1541px) {
  .social h3 {
    font-size: 20px; } }

.subscribe form {
  display: grid;
  grid-template-columns: repeat(8, 1fr); }
  .subscribe form label {
    grid-column: 1 / 9;
    justify-self: center;
    font-size: 31px; }
  .subscribe form div {
    grid-column: 2 / 8;
    position: relative;
    margin-top: 100px; }
    .subscribe form div input {
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid #f5f5f5;
      background: none;
      width: 100%;
      height: 50px;
      color: #f5f5f5;
      font-size: 30px;
      text-align: center;
      padding: 0; }
      .subscribe form div input::-webkit-input-placeholder {
        color: #f5f5f5;
        font-size: 30px;
        font-family: 'LatoLight', Arial, Helvetica, sans-serif; }
      .subscribe form div input:-ms-input-placeholder {
        color: #f5f5f5;
        font-size: 30px;
        font-family: 'LatoLight', Arial, Helvetica, sans-serif; }
      .subscribe form div input::-ms-input-placeholder {
        color: #f5f5f5;
        font-size: 30px;
        font-family: 'LatoLight', Arial, Helvetica, sans-serif; }
      .subscribe form div input::placeholder {
        color: #f5f5f5;
        font-size: 30px;
        font-family: 'LatoLight', Arial, Helvetica, sans-serif; }
    .subscribe form div button {
      background: none;
      border: none;
      position: absolute;
      top: 11px;
      right: 0;
      padding: 0; }

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box; }
  @media (max-width: 750px) {
    .container {
      grid-template-columns: repeat(6, 1fr); } }

.burger {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fff; }

@media (min-width: 751px) {
  .burger {
    display: none; } }

body {
  padding: 0;
  margin: 0; }

.common--hidden {
  display: none; }

.common__title {
  color: #037693;
  font-size: 30px;
  line-height: 30px;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  text-align: center; }
  @media (min-width: 1541px) {
    .common__title {
      font-size: 54px; } }
  @media (min-width: 751px) {
    .common__title {
      font-size: 44px; } }
  @media (max-width: 750px) {
    .common__title {
      font-size: 36px; } }

.common__title--darki {
  color: #f5f5f5; }
