@font-face {
  font-family: 'LatoRegular';
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'LatoMedium';
  src: local("Lato Medium"), local("Lato-Medium"), url("../fonts/latomedium.woff2") format("woff2"), url("../fonts/latomedium.woff") format("woff"), url("../fonts/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'LatoLight';
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/latolight.woff2") format("woff2"), url("../fonts/latolight.woff") format("woff"), url("../fonts/latolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'LatoBold';
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/latobold.woff2") format("woff2"), url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/latoblack.woff2") format("woff2"), url("../fonts/latoblack.woff") format("woff"), url("../fonts/latoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr); }
  @media (max-width: 750px) {
    .container {
      grid-template-columns: repeat(6, 1fr); } }

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%; }

.menu__item {
  font-size: 14px;
  line-height: 14px;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif; }
  .menu__item a {
    color: #f5f5f5;
    text-decoration: none; }

@media (min-width: 751px) and (max-width: 1540px) {
  .menu {
    display: flex;
    justify-content: space-between; } }

.user {
  display: flex; }
  .user__link {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 'LatoLight', Arial, Helvetica, sans-serif; }
  .user__login {
    color: white; }
  .user__register {
    color: white; }

.top {
  background-color: #121111; }

@media (max-width: 750px) {
  .top {
    display: flex;
    justify-content: center;
    padding: 10px 0; }
  .top__menu {
    display: none; }
  .top__user {
    display: none; }
  .top__logo {
    height: 130px; }
    .top__logo img {
      height: 130px;
      width: 112px; } }

@media (max-width: 750px) {
  .top__logo {
    grid-column: 3 / 5;
    justify-self: center; }
  .top__burger {
    grid-column: 6 / 7;
    justify-self: center;
    align-self: center; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .top {
    display: flex;
    justify-content: center;
    min-height: 130px; }
    .top__logo {
      display: none; } }

.header {
  background-color: #636a97;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .header__title {
    font-family: 'LatoBlack', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #f5f5f5;
    margin: 0; }
  .header__desc {
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 18px; }
  .header__buttons {
    display: flex; }
  .header__btn {
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 12px; }
    .header__btn a {
      color: inherit;
      text-decoration: none; }

@media (max-width: 750px) {
  .header__title {
    margin-top: 150px;
    grid-column: 1 / 7;
    justify-self: center; }
  .header__desc {
    margin-top: 38px;
    grid-column: 1 / 7;
    justify-self: center; }
  .header__buttons {
    margin-top: 63px;
    margin-bottom: 67px;
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
    .header__buttons .header__btn {
      font-size: 26px;
      border: 2px solid #f5f5f5;
      display: flex;
      box-sizing: border-box; }
    .header__buttons .header__btn:first-child {
      grid-column: 3 / 6;
      justify-content: center;
      align-items: center;
      width: 210px;
      height: 56px; }
    .header__buttons .header__btn:last-child {
      grid-column: 7 / 12;
      width: 290px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px; }
      .header__buttons .header__btn:last-child input {
        height: 100%;
        border: none;
        color: #5191a7;
        text-align: center;
        font-size: 21px;
        max-width: 145px; }
        .header__buttons .header__btn:last-child input::-webkit-input-placeholder {
          color: #5191a7; }
        .header__buttons .header__btn:last-child input:-ms-input-placeholder {
          color: #5191a7; }
        .header__buttons .header__btn:last-child input::-ms-input-placeholder {
          color: #5191a7; }
        .header__buttons .header__btn:last-child input::placeholder {
          color: #5191a7; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .header {
    min-height: 810px; } }

.instruction {
  background-color: white;
  color: #5191a7; }
  .instruction__title {
    grid-column: 1 / 13; }
  .instruction__desc {
    font-size: 13px;
    line-height: 15px;
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    text-align: center; }
  .instruction__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0; }
  .instruction__item {
    justify-self: center; }
    .instruction__item .instruction__img {
      max-width: 162px;
      display: flex;
      justify-content: center;
      padding: 20px; }
      .instruction__item .instruction__img img {
        max-height: 86px; }

@media (max-width: 750px) {
  .instruction__title {
    grid-column: 1 / 7; }
  .instruction__list {
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .instruction__item {
    justify-self: center;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .instruction__item:nth-of-type(1), .instruction__item:nth-of-type(3) {
      justify-self: end; }
    .instruction__item:nth-of-type(2), .instruction__item:nth-of-type(4) {
      justify-self: start; }
  .instruction__img {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid #5191a7;
    overflow: hidden; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .instruction__list {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media (min-width: 1541px) {
  .instruction__list {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

.interaction {
  background-color: #5191a7;
  color: #f5f5f5; }
  .interaction__title {
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 30px; }
  .interaction__note {
    font-family: 'LatoMedium', Arial, Helvetica, sans-serif; }
  .interaction__text {
    font-family: 'LatoLight', Arial, Helvetica, sans-serif; }
  .interaction__actions {
    list-style: none; }
    .interaction__actions li {
      background-color: #f1b451; }
      .interaction__actions li a {
        font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #121111;
        text-decoration: none; }

@media (max-width: 750px) {
  .interaction__title {
    order: 2;
    grid-column: 1 / 7;
    font-size: 20px;
    text-align: center; }
  .interaction__note {
    order: 3;
    grid-column: 1 / 7;
    font-size: 16px;
    text-align: center; }
  .interaction__text {
    order: 4;
    grid-column: 2 / 6;
    text-align: center; }
  .interaction__actions {
    order: 1;
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0; } }

.features {
  background-color: white;
  color: #5191a7; }
  .features__list {
    list-style: none;
    display: flex; }

@media (max-width: 750px) {
  .features h2 {
    grid-column: 1 / 7;
    text-align: center; }
  .features__list {
    grid-column: 2 / 6;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 142px 142px 142px; }
    .features__list li {
      justify-self: center; } }

.partners {
  background: url("/img/partnersback.jpg") no-repeat;
  position: relative; }
  .partners::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0; }
  .partners h2 {
    z-index: 2; }
  .partners__slider {
    display: flex;
    z-index: 2; }

@media (max-width: 750px) {
  .partners h2 {
    grid-column: 1 / 7;
    text-align: center; }
  .partners__slider {
    overflow: hidden;
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px 85px 85px;
    grid-gap: 10px;
    grid-template-areas: "th th th" "th th th" " . one  ."; }
  .partners__slide {
    justify-self: center;
    align-self: center;
    max-width: 115px; }
    .partners__slide:last-child {
      grid-area: one; }
    .partners__slide img {
      width: 100%; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .partners h2 {
    grid-column: 2 / 12;
    text-align: center; }
  .partners__slider {
    grid-column: 3 / 11;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px 85px 85px;
    grid-gap: 10px;
    grid-template-areas: "th th th" "th th th" " . one  ."; }
  .partners__slide {
    justify-self: center;
    align-self: center;
    max-width: 124px; }
    .partners__slide:last-child {
      grid-area: one; }
    .partners__slide img {
      width: 100%; } }

.events {
  background-color: #e8e8e8; }
  .events__list {
    list-style: none;
    padding: 0; }
  .events__title {
    color: #f5f5f5;
    text-transform: uppercase;
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif; }
    .events__title span {
      font-family: 'LatoBold', Arial, Helvetica, sans-serif; }
  .events__desc {
    font-family: 'LatoLight', Arial, Helvetica, sans-serif;
    font-size: 9px;
    line-height: 12px;
    margin: 0; }
  .events__button {
    color: #f5f5f5;
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center; }

@media (max-width: 750px) {
  .events h2 {
    grid-column: 1 / 7;
    text-align: center;
    display: none; }
  .events__list {
    grid-column: 1 / 7; }
  .events__card {
    min-height: 418px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    position: relative; }
    .events__card .events__title {
      grid-column: 2 / 12;
      text-align: center;
      z-index: 1; }
    .events__card .events__icon {
      grid-column: 2 / 4;
      z-index: 1;
      max-width: 78px;
      background-size: 100%; }
    .events__card .events__desc {
      text-align: center;
      grid-column: 4 / 12;
      z-index: 1;
      margin: 0;
      font-size: 28px;
      line-height: 32px;
      color: #f5f5f5; }
    .events__card .events__button {
      grid-column: 2 / 12;
      justify-self: center;
      z-index: 1;
      font-size: 28px;
      text-decoration: none;
      background-color: #f5f5f5;
      width: 165px;
      border-radius: 25%;
      height: 44px; }
    .events__card::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0; }
    .events__card:nth-of-type(1) {
      background-image: url("/img/pic1.png");
      background-size: 100%;
      background-repeat: no-repeat; }
      .events__card:nth-of-type(1)::before {
        background-color: rgba(216, 51, 32, 0.712); }
      .events__card:nth-of-type(1) .events__icon {
        background-image: url("/img/interactivity.png");
        background-repeat: no-repeat; }
      .events__card:nth-of-type(1) .events__button {
        color: #f26250; }
    .events__card:nth-of-type(2) {
      background-image: url("/img/pic2.png");
      background-repeat: no-repeat; }
      .events__card:nth-of-type(2) .events__icon {
        background-image: url("/img/hard-disk.png");
        background-repeat: no-repeat; }
      .events__card:nth-of-type(2) .events__button {
        color: #f26250; }
    .events__card:nth-of-type(3) {
      background-image: url("/img/pic3.png");
      background-repeat: no-repeat; }
      .events__card:nth-of-type(3) .events__icon {
        background-image: url("/img/usb-connection.png");
        background-repeat: no-repeat; }
      .events__card:nth-of-type(3) .events__button {
        color: #f26250; } }

@media (min-width: 751px) and (max-width: 1540px) {
  .events h2 {
    grid-column: 1 / 13;
    text-align: center; } }

.about {
  color: #5191a7; }
  .about h4 {
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal; }
    .about h4 span {
      font-weight: normal;
      font-family: 'LatoRegular', Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 15px; }
  .about p {
    font-family: 'LatoLight', Arial, Helvetica, sans-serif;
    color: #2d2d2d;
    font-size: 12px;
    line-height: 16px; }
  .about__stats li {
    font-family: 'LatoRegular', Arial, Helvetica, sans-serif; }
    .about__stats li span {
      font-size: 20px; }
  .about__stats li:nth-of-type(1) {
    color: #5191a7; }
  .about__stats li:nth-of-type(2) {
    color: #f26250; }
  .about__stats li:nth-of-type(3) {
    color: #f0a765; }

@media (max-width: 750px) {
  .about h2 {
    grid-column: 1 / 7;
    justify-self: center;
    order: 1; }
  .about h4 {
    order: 3;
    grid-column: 1 / 7;
    justify-self: center;
    margin: 0; }
  .about p {
    order: 4;
    grid-column: 2 / 6;
    justify-self: center;
    text-align: center; }
  .about__stats {
    order: 2;
    padding: 0;
    margin: 0;
    grid-column: 1 / 7;
    justify-self: center;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px; }
    .about__stats li {
      justify-self: center;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .about__stats li span {
        font-size: 50px; }
      .about__stats li p {
        text-align: center;
        font-size: 25px; } }

.footer {
  color: #f5f5f5;
  background-color: #121111;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  font-size: 12px; }
  .footer a {
    color: #f5f5f5;
    text-decoration: none; }
  .footer ul {
    list-style: none; }
  .footer h3 {
    font-family: 'LatoBold', Arial, Helvetica, sans-serif;
    font-size: 14px; }

.container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr); }
  @media (max-width: 750px) {
    .container {
      grid-template-columns: repeat(6, 1fr); } }

.burger {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fff; }

@media (min-width: 751px) {
  .burger {
    display: none; } }

body {
  padding: 0;
  margin: 0; }

.common__title {
  color: #5191a7;
  font-size: 30px;
  line-height: 30px;
  font-family: 'LatoLight', Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  text-align: center; }

.common__title--darki {
  color: #f5f5f5; }
